In [ ]:
import pandas as pd #import library pandas

In [ ]:
df = pd.read_csv('car_price_dataset.csv') #reading the dataset
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [ ]:
print(df.info()) #information about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Engine_Size   10000 non-null  float64
 4   Fuel_Type     10000 non-null  object
 5   Transmission  10000 non-null  object
 6   Mileage       10000 non-null  int64
 7   Doors         10000 non-null  int64
 8   Owner_Count   10000 non-null  int64
 9   Price         10000 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 781.4+ KB
None

In [ ]:
print(df.head()) # First 5 rows

        Brand   Model  Year  Engine_Size Fuel_Type    Transmission  Mileage  \
0         Kia     Rio  2020          4.2    Diesel          Manual   289944
1   Chevrolet  Malibu  2012          2.0    Hybrid       Automatic     5356
2    Mercedes     GLA  2020          4.2    Diesel       Automatic   231440
3        Audi      Q5  2023          2.0  Electric          Manual   160971
4  Volkswagen    Golf  2003          2.6    Hybrid  Semi-Automatic   286618

   Doors  Owner_Count  Price
0      3            5   8501
1      2            3  12092
2      4            2  11171
3      2            1  11780
4      3            3   2867

In [ ]:
print("Shape:", df.shape) # Shape of dataset

Shape: (10000, 10)

In [ ]:
print("Columns:", df.columns) # Column names

Columns: Index(['Brand', 'Model', 'Year', 'Engine_Size', 'Fuel_Type', 'Transmission',
       'Mileage', 'Doors', 'Owner_Count', 'Price'],
      dtype='object')

In [ ]:
print(df.describe()) #Summary of the dataset

               Year   Engine_Size        Mileage         Doors   Owner_Count  \
count  10000.000000  10000.000000   10000.000000  10000.000000  10000.000000
mean    2011.543700      3.000560  149239.111800      3.497100      2.991100
std        6.897699      1.149324   86322.348957      1.110097      1.422682
min     2000.000000      1.000000      25.000000      2.000000      1.000000
25%     2006.000000      2.000000   74649.250000      3.000000      2.000000
50%     2012.000000      3.000000  149587.000000      3.000000      3.000000
75%     2017.000000      4.000000  223577.500000      4.000000      4.000000
max     2023.000000      5.000000  299947.000000      5.000000      5.000000

             Price
count  10000.00000
mean    8852.96440
std     3112.59681
min     2000.00000
25%     6646.00000
50%     8858.50000
75%    11086.50000
max    18301.00000

In [ ]:
print(df.isnull().sum()) # Check missing values

Brand           0
Model           0
Year            0
Engine_Size     0
Fuel_Type       0
Transmission    0
Mileage         0
Doors           0
Owner_Count     0
Price           0
dtype: int64

In [ ]:
print("Duplicates:", df.duplicated().sum()) # Check duplicate

Duplicates: 0

In [ ]:
print(df.dtypes) # Data types

Brand            object
Model            object
Year              int64
Engine_Size     float64
Fuel_Type        object
Transmission     object
Mileage           int64
Doors             int64
Owner_Count       int64
Price             int64
dtype: object

In [ ]:
#1. What is the average price of all cars in the dataset?

average_price = df['Price'].mean()
print(f'Average price of all cars in the data set is: ${average_price}')

Average price of all cars in the data set is: $8852.9644

In [ ]:
#2. Which car brand has the highest average price?

average_price_by_brand = df.groupby('Brand')['Price'].mean()
highest_average_price_brand = average_price_by_brand.idxmax()
print(f'Car brand with the highest average price is: {highest_average_price_brand}')

Car brand with the highest average price is: Chevrolet

In [ ]:
#3. What is the most common fuel type in the dataset?

common_fuel_type = df['Fuel_Type'].value_counts().idxmax()
print(f'The most common fuel type in the dataset is: {common_fuel_type}')

The most common fuel type in the dataset is: Electric

In [ ]:
#4. How many cars have a mileage greater than 200,000?

mileage_greater_than_200000 = df[df['Mileage'] > 200000]
print(f"Number of cars with mileage greater than 200,000: {mileage_greater_than_200000}")

Number of cars with mileage greater than 200,000:            Brand     Model  Year  Engine_Size Fuel_Type    Transmission  \
0            Kia       Rio  2020          4.2    Diesel          Manual
2       Mercedes       GLA  2020          4.2    Diesel       Automatic
4     Volkswagen      Golf  2003          2.6    Hybrid  Semi-Automatic
10           BMW  5 Series  2013          1.3    Hybrid       Automatic
18           Kia       Rio  2000          3.4    Diesel  Semi-Automatic
...          ...       ...   ...          ...       ...             ...
9984  Volkswagen    Passat  2023          3.0    Hybrid          Manual
9986        Audi        A4  2005          3.6    Petrol  Semi-Automatic
9989      Toyota   Corolla  2003          1.6    Diesel  Semi-Automatic
9994       Honda     Civic  2016          2.9    Petrol          Manual
9998        Ford  Explorer  2002          1.4    Hybrid       Automatic

      Mileage  Doors  Owner_Count  Price
0      289944      3            5   8501
2      231440      4            2  11171
4      286618      3            3   2867
10     296824      2            3   5863
18     257427      3            3   2351
...       ...    ...          ...    ...
9984   290306      4            4   9193
9986   241546      4            2   4369
9989   205647      4            4   2487
9994   255889      2            2   6682
9998   225772      4            1   4084

[3290 rows x 10 columns]

In [ ]:
#5. What is the distribution of cars by transmission type?

transmission_distribution = df['Transmission'].value_counts()
print(f"Distribution of cars by transmission type: {transmission_distribution}")

Distribution of cars by transmission type: Transmission
Manual            3372
Automatic         3317
Semi-Automatic    3311
Name: count, dtype: int64

In [ ]:
#6. Which car model has the highest price?

highest_price = df.groupby('Brand')['Price'].mean().idxmax()
print(f"The car brand which has highest price is:{highest_price}")

The car brand which has highest price is:Chevrolet

In [ ]:
#7. What is the average price of cars by fuel type?

average_price_by_fuel_type = df.groupby('Fuel_Type')['Price'].mean()
print(f'Averagecars by fuel type is: {average_price_by_fuel_type}')

Averagecars by fuel type is: Fuel_Type
Diesel       8117.336385
Electric    10032.220190
Hybrid       9113.030167
Petrol       8070.561826
Name: Price, dtype: float64

In [ ]:
#8. How many cars are from the year 2020 or later?

from_the_year_2020_or_later = df[df['Year'] >= 2020]
print(f"Number of cars from the year 2020 or later: {len(from_the_year_2020_or_later)}")

Number of cars from the year 2020 or later: 1651

In [ ]:
#9. What is the average engine size for each brand?

engine_size = df.groupby('Brand')['Engine_Size'].mean()
print(f'the average engine size for each brand is: {engine_size}')

the average engine size for each brand is: Brand
Audi          3.032948
BMW           2.976877
Chevrolet     2.993719
Ford          3.044275
Honda         2.925966
Hyundai       2.936683
Kia           3.053791
Mercedes      3.069745
Toyota        2.961443
Volkswagen    3.011078
Name: Engine_Size, dtype: float64

In [ ]:
#10. Which car has the lowest mileage?

lowest_mileage = df['Mileage'].min()
print(f"The car with the lowest mileage is: {lowest_mileage}")

The car with the lowest mileage is: 25

In [ ]:
#11. What is the correlation between mileage and price?

correlation_mileage_price = df['Mileage'].corr(df['Price'])
print(f'The correlation between mileage and price is: {correlation_mileage_price}')

The correlation between mileage and price is: -0.5512271827629014

In [ ]:
#12. How many cars have more than 2 owners?

cars_with_two_owners = df[df['Owner_Count']>2]
print(f"Number of cars with more than 2 owners: {len(cars_with_two_owners)}")

Number of cars with more than 2 owners: 5944

In [ ]:
#13. What is the average price of cars by year?

average_price_by_year = df.groupby('Price')['Year'].mean().idxmax()
print(f'The average price of cars by year is: {average_price_by_year}')

The average price of cars by year is: 6669

In [ ]:
#14. Which car has the highest number of doors?

car_with_highest_doors = df.groupby('Doors')['Doors'].count().idxmax()
print(f'The car with the highest number of doors is: {car_with_highest_doors}')

The car with the highest number of doors is: 3

In [ ]:
#15. What is the average mileage for each fuel type?

average_mileage_by_fuel_type = df.groupby('Fuel_Type')['Mileage'].mean()
print(f'The average mileage for each fuel type is: {average_mileage_by_fuel_type}')

The average mileage for each fuel type is: Fuel_Type
Diesel      150261.533041
Electric    151059.307429
Hybrid      145577.587036
Petrol      149917.694606
Name: Mileage, dtype: float64

In [ ]:
#16. How many cars are from the brand 'Toyota'?

toyota_cars = df[df['Brand'] == 'Toyota']
print(f"Number of cars from the brand 'Toyota': {len(toyota_cars)}")

Number of cars from the brand 'Toyota': 970

In [ ]:
#17. What is the average price of cars with automatic transmission?

avg_price_automatic_transmission = df[df['Transmission'] == 'Automatic']['Price'].mean()
print(f"The average price of cars with automatic transmission is: ${avg_price_automatic_transmission}")

The average price of cars with automatic transmission is: $9938.252939403075

In [ ]:
#18. Which car has the highest owner count?

car_with_highest_owner_count = df.loc[df['Owner_Count'].idxmax()]
print(f"The car with the highest owner count is: {car_with_highest_owner_count}")

The car with the highest owner count is: Brand              Kia
Model              Rio
Year              2020
Engine_Size        4.2
Fuel_Type       Diesel
Transmission    Manual
Mileage         289944
Doors                3
Owner_Count          5
Price             8501
Name: 0, dtype: object

In [ ]:
#19. What is the average engine size for cars with diesel fuel type?

avg_engine_size_diesel = df[df['Fuel_Type'] == 'Diesel']['Engine_Size'].mean()
print(f"The average engine size for cars with diesel fuel type is: {avg_engine_size_diesel}")

The average engine size for cars with diesel fuel type is: 3.011863057324841

In [ ]:
#20. How many cars have a price greater than $10,000?
price_greater_than_10000 = df[df['Price'] > 10000]
print(f"Number of cars with a price greater than $10,000: {len(price_greater_than_10000)}")

Number of cars with a price greater than $10,000: 3651